body{
    margin: 0;
    padding: 0;
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 80vh;
    flex-wrap: wrap;
}

div{
    font-size: 55px;
}
#date{
    display: flex;
    justify-content: center;
    min-width: 100%;
} 

#container2{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    flex-wrap: wrap;
}

